@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(80, 79, 78, 0.452);
}

.navbar .btn {
  height: 80%;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 2%;
  cursor: pointer;
}

.login_signup .btn {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .btn:hover {
  background-color: rgba(245, 245, 245, 0.315);
  border-radius: 10%;
  animation: border 5s linear infinite;
}

.navbar p2 {
  color: red;
  cursor: pointer;
}

.nav {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-around;
}

.login_signup {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
  margin-right: 15%;
}

@keyframes border {
  0% {border: 1px solid rgb(80, 79, 78); box-shadow: 0px 0px 10px rgb(80, 79, 78);}
  25% {border: 1px solid blue; box-shadow: 0px 0px 10px blue;}
  50% {border: 1px solid red; box-shadow: 0px 0px 10px red;}
  75% {border: 1px solid green; box-shadow: 0px 0px 10px green;}
  95% {border: 1px solid grey; box-shadow: 0px 0px 10px grey;}
  100% {border: 1px solid rgb(80, 79, 78); box-shadow: 0px 0px 10px rgb(80, 79, 78);}
}